<div class="row mb-0">

    <div class="col-12">
        <h4 class="text-{{ widget.alignment }} pb-5">{{ widget.title }}</h4>
    </div>
</div>
<div class="row mt-0">
<style>
.mdi-48px{
    color: #17a2b8;
}
</style>
    <div class="col-12">

        <div class="pl-sm-5 pr-sm-5">
            <div class="row">
                {% for category in categories %}

                    {% if category.icon_name != "none" %}

                        <div class="col-sm-3 col-6 mb-5 text-center">
                            <i class="mdi mdi-48px mdi-{{category.icon_name}} mr-2"></i>
                            <a href="{{ route(setting('marketplace_index'), {'category' : category}) }}"><p >{{ _l(category.name) }}</p></a>
                            {# {% for child_category in category.categories %}
                                <a href="{{ route(setting('marketplace_index'), {'category' : child_category.id}) }}">{{ _l(child_category.name) }}</a>
                                <br/>
                            {% endfor %} #}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
